footer {
    .newsletter-container {
        display: flex;
        justify-content: space-between;
        align-content: center;
        border-bottom: 1px solid #ededed;
        padding-bottom: 40px;
        margin-bottom: 40px;

        .newsletter-title {
            letter-spacing: 3px;
            font-family: $font-family-playfair-display;
            font-weight: 700;
            font-size: 28px;
            width: 50%;
        }

        .newsletter-form-container {
            width: 100%;

            form {
                display: flex;
                justify-content: end;
                align-items: center;
                height: 50px;
            }

            .newsletter-input {
                width: clamp(200px, 100%, 400px);
                height: 100%;
                border: none;
                border-radius: 5px 0 0 5px;
                padding: 0 20px;
                font-size: 0.9em;
                font-weight: 500;
            }

            .newsletter-button {
                width: 170px;
                height: 100%;
                border: none;
                border-radius: 0 5px 5px 0;
                background-color: $pink-color;
                color: $white-color;
                transition: all 300ms ease-in-out;
                box-shadow: inset 0 0 0 0 $button-hover-focus-background;
                font-size: 0.9em;

                &:hover,
                &:focus {
                    box-shadow: inset 170px 0 0 0 $button-hover-focus-background;
                }
            }
        }
    }

    .footer-link {
        text-decoration: none;
        color: $gray-color;
        @include link-hover-focus;
    }

    .footer-bar-title {
        font-family: $font-family-playfair-display;
    }

    .contact-travel-paragraph {
        color: $light-gray-color;
        font-size: 1.1em;
    }

    .contact-travel-icon {
        color: $pink-color;
    }

    .copyright-paragraph,
    .slogan-paragraph, {
        font-size: 1em;
        color: $light-gray-color;
    }
}
