* {
    font-family: $font-family-montserrat;
    scroll-behavior: smooth;

    &::after,
    &::before {
        box-sizing: border-box;
    }

    &:focus {
        outline: none;
    }

    body {
        min-width: 100vw;
        min-height: 100vh;

        p {
            text-align: left;
            margin: 0;
            font-size: 1em;
        }

        @media only screen and (max-width: 576px) {
            .container {
                padding: 0 25px;
            }
        }

        .main {
            min-height: 72.5vh;

            .scroll-to-top-button {
                position: fixed;
                bottom: 30px;
                right: 30px;
                display: inline-block;
                border: none;
                font-size: 20px;
                color: #ffffff;
                background-color: $pink-color;
                border-radius: 6px;
                text-align: center;
                width: 50px;
                height: 50px;
                line-height: 50px;
                overflow: hidden;
                cursor: pointer;
                -webkit-box-shadow: 0 7px 16px 0 rgb(9 28 58 / 7%);
                box-shadow: 0 7px 16px 0 rgb(9 28 58 / 7%);
                transition: all 300ms ease;
                z-index: 9;
                opacity: 0;

                &:hover, &:focus {
                    background-color: $button-hover-focus-background;
                }
            }

            .scroll-to-top-button.show {
                opacity: 1;
            }

            .fade-in {
                animation: FadeIn 300ms linear;

                @keyframes FadeIn {
                    from {
                        opacity: 0;
                    }

                    to {
                        opacity: 1;
                    }
                }
            }

            .hr {
                height: 2px;
                color: #cecece;
                margin-bottom: 45px;
            }

            .selector {
                height: 50px;
                color: $light-gray-color;
            }

            .showing-all-results {
                font-size: 1.05em;
                color: $light-gray-color;
            }

            .column-title {
                font-family: "Playfair Display", serif;
                margin-bottom: 20px;
            }

            .pagination {
                .page-item {
                    .page-link {
                        border-color: #cec7ce;
                        color: $pink-color;
                    }
                }

                .page-item.active .page-link {
                    z-index: 3;
                    background-color: $pink-color;
                    color: $white-color;
                    border-color: $pink-color;
                }
            }
        }
    }
}
