@media (min-width: 992px) {
    .admin-view {
        display: grid;
        grid-template-columns: 250px auto;
        grid-template-areas:
        'header main'
        'header footer';

        header {
            grid-area: header;
        }

        main {
            grid-area: main;
        }

        footer {
            grid-area: footer;
        }
    }

    .admin-header {
        max-width: 250px;
        height: 100vh;
        border-right: 1px solid $gray-color;

        .admin-header-container {
            .admin-header-top-container {
                .admin-header-toggle-button {
                    display: none;
                }
            }
        }
    }

    .header {
        .header-body:not(.h-100) {
            height: auto !important;
        }

        .header-nav {
            padding: 0;

            .header-nav-main {
                display: flex !important;
                height: auto !important;
                align-self: stretch;
                min-height: 0;
                margin-top: 0;

                nav > ul > li {
                    height: 100%;
                    align-self: stretch;
                }

                nav > ul > li > a {
                    display: inline-flex;
                    align-items: center;
                    white-space: normal;
                    border-radius: 4px;
                    font-size: 13px;
                    font-style: normal;
                    letter-spacing: .4px;
                    padding: 0.5rem 0.8rem;
                    text-decoration: none;
                    color: #444;
                    position: relative;

                    &:hover, &:focus, &:active {
                        color: var(--secondary-color);
                    }
                }

                .active {
                    color: var(--secondary-color);
                }
            }
        }

        .hamburger-button {
            display: none;
        }
    }

    .container {
        max-width: 1200px;
        padding: 0 2rem;
    }
}

@media (max-width: 992px) {
    .admin-view {
        display: block;
    }

    .admin-header {
        max-width: 100%;
        height: auto;
        border-bottom: 1px solid #EDEDED;
        display: none;

        .admin-header-container {
            .admin-header-top-container {
                height: 100%;
            }
        }
    }

    .header-nav {
        width: 100%;
    }

    .header-nav-main {
        position: absolute;
        background: transparent;
        width: 100%;
        top: 100%;
        left: 50%;
        transform: translate3d(-50%, 0, 0);

        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 0;
            left: 50%;
            width: 100vw;
            height: 100%;
            background: #FFF;
            z-index: -1;
            transform: translateX(-50%);
            border-bottom: 1px solid #e8e8e8;
        }

        nav {
            max-height: 50vh;
            overflow: hidden;
            overflow-y: auto;
            padding: 15px;
            transition: ease all 500ms;
        }

        nav > ul {
            padding-top: 15px;
            padding-bottom: 15px;
            flex-direction: column;

            li {
                border-bottom: 1px solid #e8e8e8;
                clear: both;
                display: block;
                float: none;
                margin: 0;
                padding: 5px 0;
                position: relative;
                transition: all 200ms ease;

                &:hover, &:focus, &:active {
                    background: var(--primary-color);

                    a {
                        color: var(--secondary-color);
                    }
                }

                a {
                    color: var(--primary-color);
                    border-radius: 0 !important;
                    text-transform: uppercase;
                    font-weight: 700;
                    margin-top: 1px;
                    margin-bottom: 1px;
                    font-size: 13px;
                    font-style: normal;
                    line-height: 20px;
                    padding: 7px 8px;
                    text-align: left;

                    .dropdown-toggle {
                        position: relative;
                    }
                }

                .dropdown {
                    .dropdown-menu {
                        background: transparent;
                        padding: 0;
                        margin: 0;
                        font-size: 13px;
                        box-shadow: none;
                        border-radius: 0;
                        border: 0;
                        clear: both;
                        display: none;
                        float: none;
                        position: static;
                    }
                }
            }

            li.dropdown .dropdown-menu li.dropdown-submenu > a {
                position: relative;
            }

            li.dropdown.open > .dropdown-menu {
                display: block;
                margin-left: 20px;
            }
        }
    }
}

@media (max-width: 575px) {
    .container {
        padding-right: var(--bs-gutter-x, 1.5rem);
        padding-left: var(--bs-gutter-x, 1.5rem);
    }
}
