@mixin link-hover-focus {
    transition: color 400ms ease;

    &:hover,
    &:focus {
        color: $link-hover-focus-color;
    }
}

@mixin loginButton($bg-color, $hover-bg-color) {
    background: $bg-color;
    border: none;
    font-weight: 600;
    font-size: .9rem;
    transition: all 200ms ease;
    color: #fff;

    &:hover, &:focus, &:active {
        background: $hover-bg-color;
    }
}

@mixin header($background-image-url) {
    height: auto;
    width: 100%;
    background: #888888 url($background-image-url) no-repeat center center;
    background-size: cover;
    background-blend-mode: multiply;

    .header-inner-title {
        margin: 180px 0;

        .header-span {
            width: 3px;
            height: 20px;
            background-color: $pink-color;
        }

        .header-subtitle-home,
        .header-subtitle-products {
            text-decoration: none;
        }

        .header-subtitle-home {
            text-transform: uppercase;
            color: $white-color;
            font-size: 1.1em;
            @include link-hover-focus;
        }

        .header-subtitle-route {
            color: #ee3ee2;
            font-size: 1em;

            &::before {
                content: '/';
                margin: 0 7px 0 10px;
                color: $white-color;
            }
        }

        .header-title {
            color: $white-color;
            font-family: "Playfair Display", serif;
            font-weight: 700;
            font-size: 3em;
            text-align: left;
            margin: 15px 0;
        }
    }

    .header-bottom {
        width: 100%;
        height: 44px;
        z-index: 1;
        background: url('/images/header-bottom.png') repeat-x center center;
        position: relative;
        top: 0;
        left: 0;
        box-shadow: 5px 5px $white-color;
    }
}
