.navbar {
    height: 100px;
    z-index: 999;

    .navbar-brand {
        font-size: 2em;
    }

    .nav {
        .nav-item {
            a {
                text-decoration: none;
                font-weight: 500;
                color: $gray-color;
                @include link-hover-focus;
            }
        }
    }

    .navbar-login-button {
        width: 110px;
        text-decoration: none;
        text-align: center;
        border: 2px solid $pink-color;
        border-radius: 5px;
        background-color: transparent;
        color: $pink-color;
        transition: all 300ms ease;
        font-weight: 600;
        padding: 11px;
        margin-right: 10px;

        &:hover,
        &:focus {
            background: $pink-color;
            color: $white-color;
        }
    }

    .navbar-icon {
        text-decoration: none;
        color: $gray-color;
        @include link-hover-focus;

        &:first-child {
            position: relative;

            .shopping-cart-items {
                position: absolute;
                top: -8px;
                left: 21px;
                width: 17px;
                height: 17px;
                background-color: $pink-color;
                border-radius: 10px;
                color: $white-color;
                font-size: 0.7em;
                font-weight: 500;
                text-align: center;
            }
        }
    }

    .hamburger-menu-button {
        display: none;
        text-decoration: none;
    }

    .menu {
        .language {
            display: none;
        }
    }

    @media only screen and (max-width: 1199px) {
        .hamburger-menu-button {
            border: none;
            border-radius: 5px;
            background-color: $pink-color;
            color: $white-color;
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: background-color 300ms ease;

            &:hover, &:focus {
                background-color: $button-hover-focus-background;
            }
        }

        .menu {
            display: block;
            position: absolute;
            top: 0;
            left: -100%;
            margin-top: 90px;
            background-color: $white-color;
            width: 100%;
            padding: 20px 30px;
            transition: 600ms ease-in-out;
            text-align: center;

            .nav-item {
                margin: 20px 0;
                text-align: center;

                &:first-of-type,
                &:last-of-type {
                    margin: 0;
                }
            }

            .language {
                display: flex;
                justify-content: center;
                text-align: center;
                margin-bottom: 20px;
            }
        }

        .menu.active {
            left: 0;
        }
    }
}
