.promotion {
    border-radius: 6px;
    box-shadow: 0 7px 16px 0 rgb(9 28 58 / 7%);
    padding: 0 20px;

    .promotion-title {
        margin-bottom: 20px;
        font-weight: bold;
        line-height: 36px;
        color: #102636;
        font-family: "Playfair Display", serif;
        display: block;
        text-decoration: none;
        transition: color 400ms ease;

        &:hover,
        &:focus {
            color: $button-hover-focus-background;
        }
    }

    .promotion-description,
    .promotions-empty {
        color: $light-gray-color;
    }

    .promotions-empty {
        font-weight: 400;
    }
}

.promotion-link {
    text-decoration: none;
    color: $pink-color;
    font-size: 1em;
    transition: color 400ms ease;

    &:hover,
    &:focus {
        color: $button-hover-focus-background;
    }
}

.more-products-button,
.return-to-all-promotions {
    width: 100%;
    border: none;
    border-radius: 5px;
    background-color: $pink-color;
    color: $white-color;
    transition: all 300ms ease;
    font-size: 1em;
    text-decoration: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;

    &:hover,
    &:focus {
        color: $white-color;
        background-color: $button-hover-focus-background;
    }
}
