.products-header-banner {
    @include header('/images/products-header.jpeg');
}

.product {
    box-shadow: 0 7px 16px 0 rgb(9 28 58 / 7%);
    border-radius: 10px;

    .product-image-container {
        .product-image {
            width: 100%;
            height: 100%;
            border-radius: 0.25rem;
        }
    }

    .product-information {
        padding: 20px 30px;

        .product-title-container {
            margin: 25px 0 10px;

            .product-title {
                text-decoration: none;
                font-family: "Playfair Display", serif;
                font-weight: bold;
                font-size: 1.4em;
                color: $gray-color;
                @include link-hover-focus;
            }
        }

        .product-hr {
            height: 2px;
            color: #cecece;
            margin: 20px 0;
        }

        .product-rating {
            i {
                color: #ffcc03;
            }
        }

        .product-price {
            font-weight: bold;
            font-size: 1.3em;
            color: $gray-color;
        }

        .product-button-container {
            margin-bottom: 20px;

            .product-add-to-cart {
                width: 150px;
                height: 50px;
                border: none;
                border-radius: 5px;
                background-color: $pink-color;
                color: $white-color;
                transition: background-color 300ms ease;
                font-size: 1em;

                &:hover,
                &:focus {
                    background-color: $button-hover-focus-background;
                }
            }
        }
    }
}

.sidebar {
    .filter-by-price-widget-content {
        .ui-widget-header {
            background: $pink-color;
        }

        .ui-state-default, .ui-widget-content .ui-state-default {
            border-radius: 10px;
            transition: background 300ms ease;
            border: 5px solid $pink-color;
            background: $white-color;

            &:hover,
            &:active {
                background: $pink-color;
            }

            &:active {
                border: 1px solid $pink-color;
            }
        }

        .filter-by-price-button-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: $light-gray-color;

            .filter-by-price-number {
                color: $light-gray-color;
            }

            .filter-by-price-button {
                border: none;
                border-radius: 5px;
                background: transparent;
                color: $pink-color;
                transition: color 300ms ease;
                font-size: 1em;
                padding: 0;

                &:hover,
                &:focus {
                    color: $button-hover-focus-background;
                }
            }
        }
    }

    .search-widget-content {
        display: flex;

        .search-widget-input {
            border-radius: 5px 0 0 5px;
        }

        .search-widget-button {
            width: 60px;
            height: 50px;
            border: none;
            border-radius: 0 5px 5px 0;
            background-color: $pink-color;
            color: $white-color;
            transition: background-color 300ms ease;
            font-size: 1em;

            &:hover,
            &:focus {
                background-color: $button-hover-focus-background;
            }
        }
    }

    .categories-widget-content {
        margin-top: 20px;
        color: $light-gray-color;
        font-size: 1.1em;

        .form-check {
            display: flex;
            align-items: flex-start;
        }

        .form-check-input:checked {
            background-color: $pink-color;
            border-color: $pink-color;
        }
    }
}
