.sidebar {
    .form-control {
        height: 50px;
        padding: 0 20px;
        font-weight: 500;
        font-size: 0.9em;
    }

    .widget {
        padding: 25px;
        margin-top: 0;
        border-radius: 4px;
        -webkit-box-shadow: 0 7px 16px 0 rgb(9 28 58 / 7%);
        box-shadow: 0 7px 16px 0 rgb(9 28 58 / 7%);
        margin-bottom: 30px;

        .widget-title-container {
            .widget-title {
                font-weight: 600;
                font-family: "Playfair Display", serif;
                margin-bottom: 20px;
            }
        }
    }

    .category-tree-widget-content,
    .promotion-tree-widget-content {
        li {
            list-style: none;

            a {
                display: flex;
                justify-content: space-between;
                align-items: center;
                text-decoration: none;
                color: $light-gray-color;
                transition: color 400ms ease;

                &:hover,
                &:focus {
                    color: $pink-color;

                    i {
                        color: $pink-color;
                    }
                }

                i {
                    font-size: .8em;
                    color: $light-gray-color;
                }
            }

            .active {
                color: $pink-color;
            }
        }

        hr {
            background: lightgray;
        }
    }
}
