.nav-tabs {
    border: 0;
    border-bottom: 3px solid $dark-blue-color;

    li {
        margin-bottom: 15px;

        .nav-link {
            background: none;
            border: 0;
            border-radius: 0;
            color: $gray-color;
            font-size: 14px;
            font-weight: 600;
            transition: all 50ms ease;
            margin-right: 10px;

            &:hover, &:focus, &:active {
                color: $red-color
            }

            &.active {
                border: 1.5px solid $red-color;
                color: $dark-blue-color;
            }
        }
    }
}
