// Body
$body-bg: #f8fafc;

// Typography
$font-family-montserrat: 'Montserrat', sans-serif;
$font-family-playfair-display: 'Playfair Display', serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$white-color: #FFFFFF;
$pink-color: #cb34c2;
$gray-color: #3f3f3f;
$light-gray-color: #818181;
$yellow-color: #ffb40a;

// Hover and focus
$link-hover-focus-color: #c736c0;
$secondary-link-hover-focus-color: #42113f;
$button-hover-focus-background: #a12c9b;
