// Body
$body-bg: #ffffff;
$body-color: #777;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-family-poppins: 'Poppins', sans-serif;
$font-size-base: 14px;
$line-height-base: 30px;

// Colors
$white-color: #FFFF;
$cyan-color: #0088CC;
