// Body
$body-bg: #f8fafc;

// Typography
$font-family-inter: 'Inter', sans-serif;
$font-family-montserrat: 'Montserrat', sans-serif;
$font-family-playfair-display: 'Playfair Display', serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$white-color: #FFFFFF;
$dark-blue-color: #1a3253;
$red-color: #d3162e;
$gray-color: #3f3f3f;
$light-gray-color: #818181;
$yellow-color: #ffb40a;

// Hover and focus
$link-hover-focus-color: #d3162e;
$secondary-link-hover-focus-color: #a21123;
$button-hover-focus-background: #af1226;
