.pagination .page-item.active .page-link {
    background-color: #0989ff;
    border-color: #0989ff;
}

.pagination .page-item .page-link {
    color: #55585b;
    padding: 0;
    border: 1px solid rgba(1, 15, 28, 0.1);

    &:hover {
        color: #fff;
    }
}
