.footer {
    background: #fafafa;
    border-top: 1px solid $border-color;
    font-size: 0.9em;
    padding: 0;
    position: relative;
    clear: both;

    h5 {
        color: $secondary-color;
        font-weight: 600;
        line-height: 18px;
        margin: 0 0 14px 0;
        font-size: 1.2em !important;
    }

    ul {
        li {
            color: $tertiary-color;
            line-height: 1.5;

            a {
                color: inherit;
                transition: color 200ms ease;

                &:hover, &:focus, &:active {
                    color: #d9d9d9;
                }
            }

            span {
                color: $secondary-color !important;
            }
        }
    }

    .footer-links {
        li {
            color: $tertiary-color;
            line-height: $line-height-base;

            a {
                color: inherit;
                transition: color 200ms ease;

                &:hover, &:focus, &:active {
                    color: $primary-color;
                }
            }

            span {
                color: $tertiary-color !important;
            }
        }
    }

    .social-icons {
        margin: 0;
        padding: 0;
        width: auto;

        li {
            display: inline-block;
            margin: -1px 5px 0 0;
            padding: 0;
            border-radius: 100%;
            overflow: visible;
            border: 1px solid rgba(255, 255, 255, 0.1);

            a {
                transition: all 0.2s ease;
                border-radius: 100%;
                display: block;
                height: 28px;
                line-height: 28px;
                width: 28px;
                text-align: center;
                color: #333 !important;
                text-decoration: none;
                font-size: 0.8rem;

                i {
                    color: $secondary-color
                }
            }
        }

        .social-icons-facebook {
            @include socialIconsEffect(#4267B2);
        }

        .social-icons-google {
            @include socialIconsEffect(#db4a39);
        }

        .social-icons-twitter {
            @include socialIconsEffect(#1DA1F2);
        }
    }

    .container {
        .footer-copyright {
            border-top: 1px solid $border-color;

            p {
                color: $tertiary-color;
                margin: 0;
                padding: 0;
                font-size: 0.9em;
            }
        }
    }
}
