.order-complete {
    padding-bottom: 50px;
    @include orderSteps;

    .order-complete-success,
    .order-complete-fail {
        border: none;
        border-radius: 10px;
        background: #f1f1f1;

        .card-body {
            padding: 2rem;
            position: relative;
            z-index: 1;

            p {
                font-weight: 500;
                color: $secondary-color;
                font-size: 1.3em !important;
            }
        }
    }

    .order-complete-success {
        border-color: #0cc485 !important;

        .card-body {
            p {
                i {
                    color: #0cc485 !important;
                }
            }
        }
    }

    .order-complete-fail {
        border-color: #e72828 !important;

        .card-body {
            p {
                i {
                    color: #e72828 !important;
                }
            }
        }
    }
}
