.pagination {
    .page-item {
        .page-link {
            border-radius: 50px;
            border-color: $gray-color;
            color: $black-color;
            padding: 12px 15px;
            margin-inline: 5px;
            font-weight: 600;

            &:hover {
                background-color: #ED1D24;
                color: #fff;
                border-color: #ED1D24;
            }
        }
    }

    .page-item.active .page-link {
        z-index: 3;
        background-color: #ED1D24;
        color: #fff;
        border-color: #ED1D24;
    }
}
