.minus, .plus,
.product-add-to-cart-number,
.product-change-cart-number {
    border: 1px solid #e7e7e7;
    width: 45px;
    aspect-ratio: 1;
    text-align: center;
    background: transparent;
    font-weight: 600;
}

.minus, .plus {
    transition: all 100ms ease;

    &:hover, &:focus, &:active {
        background: #0088CC;
        color: #fff;
        border-color: #0088CC;
    }
}

.minus {
    border-radius: 3px 0 0 3px;
}

.plus {
    border-radius: 0 3px 3px 0;
}

.product-add-to-cart-number,
.product-change-cart-number {
    width: 40px;
    -moz-appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}

.product-change-cart-number {
    border: none;
}
