.shop {
    .product {
        .product-image-container {
            position: relative;

            &:hover  {
                .product-image {
                    filter: brightness(90%);
                }
            }

            .product-image {
                width: 100%;
                transition: filter 200ms ease;
            }
        }

        .product-information {
            .product-title-container {
                margin-top: 15px;

                .product-title {
                    text-decoration: none;
                    font-size: 1.2em !important;
                    font-weight: 500 !important;
                    color: $secondary-color;
                    transition: color 200ms ease;

                    &:hover, &:focus, &:active {
                        color: $primary-hover-color;
                    }
                }
            }

            .product-rating {
                i {
                    color: #ffcc03;
                }
            }

            .product-price {
                font-weight: 500 !important;
                font-size: 1.1em !important;

                .product-previous-price {
                    font-size: .8em;
                    text-decoration: line-through;
                }

                .product-discounted-price {
                    color: $primary-hover-color !important;
                    font-weight: 600 !important;
                }

                .product-no-discount-price {
                    font-weight: 600;
                    color: $tertiary-color !important;
                }
            }

            .product-add-to-cart-button {
                display: flex;
                justify-content: center;
                align-items: center;
                color: $white-color;
                border: none;
                border-radius: 5px;
                background: $primary-color;
                width: 100%;
                height: 45px;
                padding: 0 25px;
                font-size: 1.1rem;
                box-shadow: 0 0 12px -4px rgb(0 0 0 / 40%);
                opacity: 1;
                transform: translate3d(0, -3px, 0);
                transition: all 300ms ease;

                &:hover, &:focus, &:active {
                    background: $primary-hover-color;
                }

                span {
                    font-size: .8em;
                }
            }
        }
    }
}
