.shop {
    .shop-title {
        font-family: $font-family-times-new-roman;
    }

    .form-select {
        border-color: $gray-color;
        border-radius: 0;
        font-size: .85em;
        color: $black-color;
        padding: 10px;
    }

    .product {
        background: $white-color;
        padding: 10px;

        .product-image-container {
            width: clamp(200px, 100%, 500px);
            aspect-ratio: 1;
            position: relative;
            padding: 5px;

            &:hover  {
                .product-image {
                    filter: brightness(90%);
                }

                .product-add-to-cart-wrapper {
                    .product-add-to-cart-button {
                        opacity: 1;
                        transform: translate3d(0, 0, 0);
                    }
                }
            }

            .product-image {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: filter 200ms ease;
            }

            .product-add-to-cart-wrapper {
                position: absolute;
                bottom: 0;
                left: 0;
                z-index: 1000;
                width: 100%;
                padding-inline: 5px;
                padding-bottom: 5px;

                .product-add-to-cart-button {
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: $black-color;
                    border: none;
                    background: $yellow-color;
                    width: 100%;
                    height: 50px;
                    font-size: 1rem;
                    box-shadow: 0 0 12px -4px rgb(0 0 0 / 40%);
                    opacity: 0;
                    transform: translate3d(0, -3px, 0);
                    transition: all 300ms ease;

                    &:hover, &:focus, &:active {
                        background: $black-color;
                        color: $yellow-color;
                    }

                    i {
                        font-size: 1.1rem;
                        margin-right: 10px;
                    }

                    span {
                        text-transform: uppercase;
                        font-size: .8em;
                        font-weight: 600;
                    }
                }
            }
        }

        .product-information {
            padding: 5px;

            .product-title-container {
                margin-top: 15px;

                .product-title {
                    text-decoration: none;
                    font-size: 1.1em !important;
                    font-weight: 500 !important;
                    color: #212529;
                    transition: color 200ms ease;

                    &:hover, &:focus, &:active {
                        color: #397de1;
                    }
                }
            }

            .product-rating {
                display: flex;
                align-items: center;

                span {
                    font-weight: 600;
                }
            }

            .product-price {
                font-size: 1.3em !important;
                color: gray;

                .product-previous-price {
                    font-size: .9em;
                    text-decoration: line-through;
                }

                .product-discounted-price {
                    color: #212529 !important;
                    font-weight: 600 !important;
                }

                .product-no-discount-price {
                    font-size: .9em;
                    font-weight: 600;
                    color: #212529 !important;
                }
            }
        }
    }
}
