.main {
    padding: 40px 0;
    min-height: 30vh;

    .scroll-to-top-button {
        position: fixed;
        bottom: 0;
        right: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        color: #fff;
        background-color: #0088CC;
        border-radius: 6px 6px 0 0;
        width: 50px;
        height: 45px;
        line-height: 50px;
        overflow: hidden;
        cursor: pointer;
        -webkit-box-shadow: 0 7px 16px 0 rgb(9 28 58 / 7%);
        box-shadow: 0 7px 16px 0 rgb(9 28 58 / 7%);
        transition: all 300ms ease;
        z-index: 9;
        opacity: 0;

        &:hover {
            background: #00a1f2;
        }

        i {
            font-size: .8em;
        }
    }

    .scroll-to-top-button.show {
        opacity: 1;
    }

    .fade-in {
        animation: FadeIn 300ms linear;

        @keyframes FadeIn {
            from {
                opacity: 0;
            }

            to {
                opacity: 1;
            }
        }
    }
}
