.nav-tabs {
    border: 0;
    margin-bottom: 10px;

    li {
        margin-bottom: -3px;

        .active {
            color: var(--secondary-color);

            &:before {
                position: absolute;
                content: "";
                height: 1px;
                background: var(--secondary-color);
                width: 100%;
                left: 0;
                right: 0;
                -webkit-transition: var(--transition);
                transition: var(--transition);
                bottom: 0;
            }
        }
    }
}
