.category-tree,
.promotion-tree {
    ul {
        list-style-type: none;
        padding-left: 15px;
    }

    .nav-item {
        .nav-link {
            transition: color 100ms ease;
            color: $black-color;

            &:hover, &:focus {
                color: $yellow-color;

                i {
                    color: $yellow-color;
                    animation: ArrowPointing 500ms infinite linear;
                }
            }

            i {
                font-size: .8em;
                color: $black-color;
                margin-right: 5px;
            }
        }

        .active {
            color: $yellow-color;

            i {
                color: $yellow-color;
            }
        }
    }
}
