/*
Footer Style
======================================================*/
.subscribe-overly {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    &.style3 {
        border-color: rgba(35, 35, 35, 0.1);
    }
}
.subscribe-content {
    .icon {
        margin-right: 22px;
    }
    .content {
        h2 {
            font-size: 24px;
            color: var(--whiteColor);
            margin-bottom: 5px;
        }
        p {
            color: var(--whiteColor);
            margin-bottom: 0;
        }
    }
    &.style3 {
        h2 {
            color: var(--headingColor);
        }
        p {
            color: var(--paragraphColor);
        }
    }
}
.subscribe-form {
    .newsletter-form {
        position: relative;
        padding-left: 30px;
        .form-control {
            height: 70px;
            border-radius: 5px;
            background-color: rgba(255, 255, 255, 0.12);
            color: var(--whiteColor);
            border-color: transparent;
            &::placeholder {
                color: var(--whiteColor);
            }
            &:focus {
                border-color: rgba(255, 255, 255, 0.50);
                &::placeholder {
                    color: transparent;
                }
            }
        }
        .default-btn {
            position: absolute;
            right: 10px;
            top: 10px;
            padding: 12px 22px;
        }
        .validation-danger {
            color: var(--mainColor);
        }
    }
    &.style2 {
        .newsletter-form {
            .form-control {
                height: 70px;
                border-radius: 5px;
                background-color: var(--whiteColor);
                color: var(--paragraphColor);
                border-color: transparent;
                &::placeholder {
                    color: var(--paragraphColor);
                }
                &:focus {
                    border-color: rgba(255, 255, 255, 0.50);
                    &::placeholder {
                        color: transparent;
                    }
                }
            }
        }
    }
}
//Footer
.single-footer-widget {
    margin-bottom: 30px;
    position: relative;
    &::before {
        position: absolute;
        content: '';
        height: 220px;
        width: 1px;
        background-color: var(--whiteColor);
        opacity: 0.1;
        top: 50%;
        transform: translateY(-50%);
        right: 80px;
    }
    h3 {
        font-size: 20px;
        color: var(--whiteColor);
        margin-bottom: 38px;
        position: relative;
        &::before {
            position: absolute;
            content: '';
            height: 2px;
            width: 80px;
            background-color: var(--whiteColor);
            opacity: 0.2;
            left: 0;
            bottom: -10px;
        }
        &::after {
            position: absolute;
            content: '';
            height: 2px;
            width: 40px;
            background-color: var(--mainColor);
            bottom: -10px;
            left: 0;
        }
    }
    &.logo-content {
        .logo {
            margin-bottom: 25px;
        }
        ul {
            padding-left: 0;
            margin-bottom: 0;
            li {
                padding-left: 25px;
                position: relative;
                list-style-type: none;
                margin-bottom: 12px;
                &:last-child {
                    margin-bottom: 0;
                }
                i {
                    position: absolute;
                    left: 0;
                    top: 5px;
                    color: var(--whiteColor);
                }
                h5 {
                    font-size: 16px;
                    font-weight: 600;
                    margin-bottom: 4px;
                    color: var(--whiteColor);
                }
                span {
                    color: var(--whiteColor);
                }
                a {
                    color: var(--whiteColor);
                    transition: var(--transition);
                    &:hover {
                        color: var(--mainColor);
                    }
                }
            }
        }
    }
    .link-list {
        padding-left: 0;
        margin-bottom: 0;
        li {
            list-style-type: none;
            margin-bottom: 13px;
            &:last-child {
                margin-bottom: 0;
            }
            a {
                color: #e6e6e6;
                transition: var(--transition);
                &:hover {
                    color: var(--mainColor);
                }
            }
        }
    }
    &.useful-link {
        margin-left: 5px;
        &::before {
            right: 50px;
        }
    }
    &.information {
        margin-left: 40px;
        &::before {
            right: 10px;
        }
    }
    &.my-account {
        margin-left: 70px;
        &::before {
            display: none;
        }
    }
    &.style2 {
        h3 {
            &::after {
                background-color: var(--mainColor2);
            }
        }
        &.logo-content {
            .logo {
                margin-bottom: 25px;
            }
            ul {
                li {
                    i {
                        color: var(--mainColor2);
                    }
                }
            }
        }
    }
    &.style3 {
        &::before {
            background-color: #232323;
        }
        h3 {
            color: var(--headingColor);
            &::before {
                background-color: var(--headingColor);
                opacity: 0.2;
            }
            &::after {
                background-color: var(--mainColor3);
            }
        }
        &.logo-content {
            ul {
                li {
                    i {
                        color: var(--mainColor3);
                    }
                    h5 {
                        color: var(--headingColor);
                    }
                    span {
                        color: var(--paragraphColor);
                    }
                    a {
                        color: var(--paragraphColor);
                        &:hover {
                            color: var(--mainColor3);
                        }
                    }
                }
            }
        }
        .link-list {
            li {
                a {
                    color: var(--paragraphColor);
                    transition: var(--transition);
                    &:hover {
                        color: var(--mainColor3);
                    }
                }
            }
        }
    }
}

//Instagram
.instagram-area {
    position: relative;
    margin-bottom: -100px;
    z-index: 2;
    .container-fluid {
        max-width: 1830px;
        padding-left: 30px;
        padding-right: 30px;
    }
}
.single-instagram-item {
    position: relative;
    .instagram-img {
        transition: var(--transition);
        overflow: hidden;
        border-radius: 5px;
        img {
            transition: var(--transition);
            overflow: hidden;
            border-radius: 5px;
        }
    }
    .icon {
        position: absolute;
        left: 0;
        right: 0;
        height: 50px;
        width: 50px;
        line-height: 54px;
        text-align: center;
        margin: auto;
        font-size: 20px;
        color: var(--whiteColor);
        border-radius: 100%;
        background-color: var(--mainColor2);
        display: inline-block;
        top: 50%;
        transform: translateY(-50%);
        transition: var(--transition);
        opacity: 0;
    }
    &:hover {
        .instagram-img {
            img {
                transform: scale(1.1);
            }
        }
        .icon {
            opacity: 1;
        }
    }
}

//All Bottom Content
.all-bottom-content {
    background-image: url(../images/footer-bg.webp);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding-top: 100px;
    position: relative;
    z-index: 1;
    &::before {
        position: absolute;
        content: '';
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        background-color: var(--headingColor);
        opacity: 0.95;
        z-index: -1;
    }
}

//CopyRight
.copy-right-overly {
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    &.style3 {
        border-color: rgba(35, 35, 35, 0.1);
    }
}
.copyright-left-content {
    p {
        color: #e6e6e6;
        a {
            color: var(--mainColor);
        }
    }
    &.style2 {
        p {
            a {
                color: var(--mainColor2);
            }
        }
    }
    &.style3 {
        p {
            color: var(--paragraphColor);
            a {
                color: var(--mainColor3);
            }
        }
    }
}
.copyright-right-content {
    text-align: end;
    ul {
        padding-left: 0;
        margin-bottom: 0;
        li {
            display: inline-block;
            margin-right: 12px;
            &:last-child {
                margin-right: 0;
            }
            span {
                display: inline-block;
                color: #e6e6e6;
                position: relative;
                top: 2px;
            }
        }
    }
    &.style3 {
        ul {
            li {
                span {
                    color: var(--paragraphColor);
                }
            }
        }
    }
}

@media only screen and (max-width: 767px) {
    .subscribe-content {
        margin-bottom: 20px;
        .content {
            h2 {
                font-size: 16px;
            }
        }
    }
    .subscribe-form {
        .newsletter-form {
            padding-left: 0;
            .form-control {
                height: 59px !important;
                &::placeholder {
                    font-size: 13px;
                }
            }
            .default-btn {
                right: 8px;
                top: 8px;
                padding: 10px 18px;
            }
        }
    }

    //Footer
    .single-footer-widget {
        &::before {
            display: none;
        }
        h3 {
            font-size: 18px;
            margin-bottom: 32px;
        }
        &.useful-link {
            margin-left: 0;
        }
        &.information {
            margin-left: 0;
        }
        &.my-account {
            margin-left: 0;
        }
    }

    //CopyRight
    .copyright-left-content{
        margin-bottom: 15px;
        p {
            font-size: 13px;
        }
    }
    .copyright-right-content {
        ul {
            li {
                margin-right: 2px;
            }
        }
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
    .subscribe-content {
        .content {
            h2 {
                font-size: 16px;
            }
        }
    }
    .subscribe-form {
        .newsletter-form {
            padding-left: 0;
            .form-control {
                height: 59px !important;
                &::placeholder {
                    font-size: 13px;
                }
            }
            .default-btn {
                right: 8px;
                top: 8px;
                padding: 10px 18px;
            }
        }
    }

    //Footer
    .single-footer-widget {
        &::before {
            display: none;
        }
        h3 {
            font-size: 18px;
            margin-bottom: 32px;
        }
        &.useful-link {
            margin-left: 0;
        }
        &.information {
            margin-left: 0;
        }
        &.my-account {
            margin-left: 0;
        }
    }
}
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    .subscribe-form {
        .newsletter-form {
            .form-control {
                height: 67px !important;
            }
        }
    }

    //Footer
    .single-footer-widget {
        &::before {
            right: 35px;
        }
        h3 {
            font-size: 18px;
            margin-bottom: 32px;
        }
        &.useful-link {
            margin-left: 0;
            &::before {
                right: 28px;
            }
        }
        &.information {
            margin-left: 0;
            &::before {
                right: 28px;
            }
        }
        &.my-account {
            margin-left: 0;
        }
    }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
    .subscribe-form {
        .newsletter-form {
            .form-control {
                height: 67px;
            }
        }
    }

    //Footer
    .single-footer-widget {
        &::before {
            right: 55px;
        }
        h3 {
            font-size: 18px;
            margin-bottom: 32px;
        }
        &.useful-link {
            margin-left: 0;
            &::before {
                right: 45px;
            }
        }
        &.information {
            margin-left: 0;
            &::before {
                right: 32px;
            }
        }
        &.my-account {
            margin-left: 25px;
        }
    }
}

